$minWidth: 768px;
body,
html {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(
    rgb(240, 242, 245) 100%,
    rgb(255, 255, 255) 196px
  );
font-family: "Times New Roman", Times, serif;
  color: #1d253b;
}
.page {
  overflow: scroll;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 3vw;
  padding-bottom: 3vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-areas:
    "logo logo header header header header header header user user"
    "left-bar left-bar content content content content content content content right-bar"
    "left-bar left-bar content content content content content content content right-bar"
    "left-bar left-bar content content content content content content content right-bar"
    "left-bar left-bar content content content content content content content right-bar"
    "left-bar left-bar content content content content content content content right-bar"
    "left-bar left-bar content content content content content content content right-bar"
    "left-bar left-bar content content content content content content content right-bar"
    "left-bar left-bar content content content content content content content right-bar"
    "left-bar left-bar content content content content content content content right-bar"
    "left-bar left-bar content content content content content content content right-bar"
    "left-bar left-bar content content content content content content content right-bar"
    "left-bar left-bar content content content content content content content right-bar"
    "left-bar left-bar content content content content content content content right-bar"
    "footer footer footer footer footer footer footer footer footer footer";
}

.logo {
  grid-area: logo;
  padding-left: 5vw;
}

.header {
  .team-name {
    font-size: 2em;
  }
  grid-area: header;
  padding: 1vh;
  text-align: center;
}

.left-bar {
  padding: 3vh;
  font-size: 1.1em;
  grid-area: left-bar;
  box-shadow: 1px blue;

  p {
    line-height: 1.3em;
    font-size: 1.2em;
    cursor: pointer;
  }

  p span:hover,
  i span:hover {
    color: whitesmoke;
  }

  li {
    list-style-type: none;
  }
}

.content {
  padding: 3vw;
  grid-area: content;
}

.footer {
  grid-area: footer;
  text-align: right;
  padding-right: 1em;
}

.user {
  span {
    font-size: 1.2em;
  }
  grid-area: user;
  text-align: right;
}

.right-bar {
  grid-area: right-bar;
}

.white {
  background: transparent !important;
  tbody > tr:nth-child(odd) {
    font-size: 1.1em;
  }
}

.icon-span {
  padding-left: 0.5em;
}

.result-table tbody  {
    :hover {
      background-color: darkgray;
    }

    tr{
        td:nth-child(3n + 1) {
            text-align: left;
          }
          td:nth-child(3n + 0) {
            text-align: right;
          }
        
          td.win {
            font-weight: bold;
          }
    }
    tr > td.match-result{
      text-align: center;
    }
    
    tr > td.home-team{
      text-align: left;
    }

    tr > td.away-team{
      text-align: right;
    }

    tr > td {
      width: 33%;
    }
}

@media (max-width: $minWidth){
 .left-bar > p > span {
   display: none;
 }

 .icon-span {
 display: none;
 }

 .result-table > tbody > tr > td > div.team-name {
  display: none;
}
}


@media (min-width: $minWidth){
  .result-table > tbody > tr > td > div.team-code {
    display: none;
  }
}