$backColor: #17a2b8;
$headerBackColor: rgb(146, 169, 218);

.main-container {
  position: relative;
  height: 100vh;
  top:0;
  display: grid;
  grid-template-rows: minmax(100px, auto) 10fr minmax(100px, auto);
  font-size: 18px;
  font-family: "Courier New", Courier, monospace;
}

.left-menu {
  background: #ba54f5;
  background: -webkit-linear-gradient(0deg, #ba54f5 0%, #e14eca 100%);
  background: -o-linear-gradient(0deg, #ba54f5 0%, #e14eca 100%);
  background: -moz-linear-gradient(0deg, #ba54f5 0%, #e14eca 100%);
  background: linear-gradient(0deg, #ba54f5 0%, #e14eca 100%);
  height: calc(100vh - 90px);
  top: 0;
  left: 0;
  z-index: 1;
  color: white;
  text-align: center;
  background-size: cover;
  background-position: center center;
  display: block;
  box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  transition: 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  width: 100%;
  min-height: 100%;
  max-height: calc(100vh - 705px);
  z-index: 4;
  position: relative;
  overflow: auto;
}
.application-container {
  padding-top: 3%;
  background: -webkit-linear-gradient(left, #3931af, #00c6ff);
  padding-left: 10px;
  text-align: center;
}

.header-container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  background-color: $headerBackColor;
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  background-color: cornflowerblue;
}
.body-container {
  grid-template-columns: 1fr 5fr;
  display: grid;
}

.logo-wrapper {
  text-align: center;
}

.logo {
  width: 100%;
  height: 100%;
}
