body{
    background-color: #EAE7DC;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.left{
    float:left
}

div.mT5{
    margin-top: 5px;;
}

.table-custom{
    color: #fff;
    background-color: #254E58;
}