.save-button {
  width: 45%;
  border-radius: 1rem;
  padding: 1.5%;
  color: #fff;
  background-color: #0062cc;
  border: none;
  cursor: pointer;
  margin-right: 6%;
  background-color: white;
  color: blue;
  margin-top: 4%;
  margin-bottom: 5%;
  float: left;
}

.refresh-button {
  width: 45%;
  border-radius: 1rem;
  padding: 1.5%;
  color: #fff;
  background-color: #0062cc;
  border: none;
  cursor: pointer;
  background-color: white;
  color: blue;
  margin-top: 4%;
  margin-bottom: 5%;
  float: right;
}

.input-fields-wrapper {
  margin-right: 22%;
  margin-left: 20%;
}

.input-fields-wrapper input{
    border-radius: 1rem;
}

.table-custom{
    background-color: aliceblue;
}